HEADSCALE_SERVER_URL=CHANGEME
HEADSCALE_BASE_DOMAIN=CHANGEME
S3_BUCKET_NAME=CHANGEME
S3_ENDPOINT=CHANGEME
S3_REGION=CHANGEME
S3_ACCESS_KEY_ID=CHANGEME
S3_SECRET_ACCESS_KEY=CHANGEME

# The following ones can be set after first deployment
# If not, it will require all Tailscale clients to restart on every deploy
# HEADSCALE_PRIVATE_KEY=CHANGEME
# HEADSCALE_NOISE_PRIVATE_KEY=CHANGEME
